In [1]:
import pandas as pd 
import warnings

### US GDP

In [2]:
df_gdp_us = pd.read_excel(r"C:\Users\rapha\OneDrive\ironhack\projects\Project_Final_Ironhack\GDP_US.xls", sheet_name = "Series Values")

In [3]:
df_gdp_us

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN
3,> Series Values,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
306,1947-09-30 00:00:00,2024834,(0.21)%,-,(0.82)%,Actual
307,1947-06-30 00:00:00,2029024,(0.27)%,-,(1.06)%,Actual
308,1947-03-31 00:00:00,2034450,-,-,-,Actual
309,NaN,NaN,NaN,NaN,NaN,NaN
310,Economic Time Series Data Provided By:,NaN,NaN,NaN,NaN,NaN

In [4]:
# Get rid of NaN values 
df_gdp_us.dropna(inplace=True) # get rid of Nan Values 

#Get the first row as a new header
new_header = df_gdp_us.iloc[0] #grab the first row for the header
df_gdp_us = df_gdp_us[1:] #take the data less the header row
df_gdp_us.columns = new_header #set the header row as the df header
df_gdp_us

# Reset the index 
df_gdp_us.reset_index(drop=True, inplace=True)
df_gdp_us

#replacing the "-" with "0" and the "()" with "-" 
df_gdp_us['Simple Growth Rate %'] = df_gdp_us['Simple Growth Rate %'].str.replace("-","0")
df_gdp_us['Simple Growth Rate %'] = df_gdp_us['Simple Growth Rate %'].str.replace("(","-")
df_gdp_us['Simple Growth Rate %'] = df_gdp_us['Simple Growth Rate %'].str.replace(")","")
df_gdp_us['Simple Growth Rate %'] = df_gdp_us['Simple Growth Rate %'].str.replace("%","")

#replacing the "-" with "0" and the "()" with "-" 
df_gdp_us['Annual % Rate'] = df_gdp_us['Annual % Rate'].str.replace("-","0")
df_gdp_us['Annual % Rate'] = df_gdp_us['Annual % Rate'].str.replace("(","-")
df_gdp_us['Annual % Rate'] = df_gdp_us['Annual % Rate'].str.replace(")","")
df_gdp_us['Annual % Rate'] = df_gdp_us['Annual % Rate'].str.replace("%","")


#replacing the "-" with "0" and the "()" with "-" 
df_gdp_us['Y-o-Y Change %'] = df_gdp_us['Y-o-Y Change %'].str.replace("-","0")
df_gdp_us['Y-o-Y Change %'] = df_gdp_us['Y-o-Y Change %'].str.replace("(","-")
df_gdp_us['Y-o-Y Change %'] = df_gdp_us['Y-o-Y Change %'].str.replace(")","")
df_gdp_us['Y-o-Y Change %'] = df_gdp_us['Y-o-Y Change %'].str.replace("%","")

# changing the type of data 
df_gdp_us['Simple Growth Rate %'] = df_gdp_us['Simple Growth Rate %'].str.rstrip('%').astype('float') / 100.0
df_gdp_us['Annual % Rate'] = df_gdp_us['Annual % Rate'].str.rstrip('%').astype('float') / 100.0
df_gdp_us['Y-o-Y Change %'] = df_gdp_us['Y-o-Y Change %'].str.rstrip('%').astype('float') / 100.0
df_gdp_us['Value'] = df_gdp_us['Value'].astype(str).astype(int)


#delete the last column  
df_gdp_us.drop(['Type'], axis = 1, inplace = True) 



df_gdp_us

C:\Users\rapha\AppData\Local\Temp\ipykernel_28612\605403803.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_gdp_us['Simple Growth Rate %'] = df_gdp_us['Simple Growth Rate %'].str.replace("-","0")
C:\Users\rapha\AppData\Local\Temp\ipykernel_28612\605403803.py:16: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_gdp_us['Simple Growth Rate %'] = df_gdp_us['Simple Growth Rate %'].str.replace("(","-")
C:\Users\rapha\AppData\Local\Temp\ipykernel_28612\605403803.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_gdp_us['Simple Growth Rate %'] = df_gdp_us['Simple Growth Rate %'].str.replace("(","-")
C:\Users\rapha\AppData\Local\Temp\ipykernel_28612\605403803.py:17: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_gdp_us['Simple Growth Rate %'] = df_gdp_us['Simple Growth Rate %'].str.replace(")","")
C:\Users\rapha\AppData\Local\Temp\ipykernel_28612\605403803.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_gdp_us['Simple Growth Rate %'] = df_gdp_us['Simple Growth Rate %'].str.replace(")","")
C:\Users\rapha\AppData\Local\Temp\ipykernel_28612\605403803.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_gdp_us['Simple Growth Rate %'] = df_gdp_us['Simple Growth Rate %'].str.replace("%","")
C:\Users\rapha\AppData\Local\Temp\ipykernel_28612\605403803.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_gdp_us['Annual % Rate'] = df_gdp_us['Annual % Rate'].str.replace("-","0")
C:\Users\rapha\AppData\Local\Temp\ipykernel_28612\605403803.py:22: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_gdp_us['Annual % Rate'] = df_gdp_us['Annual % Rate'].str.replace("(","-")
C:\Users\rapha\AppData\Local\Temp\ipykernel_28612\605403803.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_gdp_us['Annual % Rate'] = df_gdp_us['Annual % Rate'].str.replace("(","-")
C:\Users\rapha\AppData\Local\Temp\ipykernel_28612\605403803.py:23: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_gdp_us['Annual % Rate'] = df_gdp_us['Annual % Rate'].str.replace(")","")
C:\Users\rapha\AppData\Local\Temp\ipykernel_28612\605403803.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_gdp_us['Annual % Rate'] = df_gdp_us['Annual % Rate'].str.replace(")","")
C:\Users\rapha\AppData\Local\Temp\ipykernel_28612\605403803.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_gdp_us['Annual % Rate'] = df_gdp_us['Annual % Rate'].str.replace("%","")
C:\Users\rapha\AppData\Local\Temp\ipykernel_28612\605403803.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_gdp_us['Y-o-Y Change %'] = df_gdp_us['Y-o-Y Change %'].str.replace("-","0")
C:\Users\rapha\AppData\Local\Temp\ipykernel_28612\605403803.py:29: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_gdp_us['Y-o-Y Change %'] = df_gdp_us['Y-o-Y Change %'].str.replace("(","-")
C:\Users\rapha\AppData\Local\Temp\ipykernel_28612\605403803.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_gdp_us['Y-o-Y Change %'] = df_gdp_us['Y-o-Y Change %'].str.replace("(","-")
C:\Users\rapha\AppData\Local\Temp\ipykernel_28612\605403803.py:30: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_gdp_us['Y-o-Y Change %'] = df_gdp_us['Y-o-Y Change %'].str.replace(")","")
C:\Users\rapha\AppData\Local\Temp\ipykernel_28612\605403803.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_gdp_us['Y-o-Y Change %'] = df_gdp_us['Y-o-Y Change %'].str.replace(")","")
C:\Users\rapha\AppData\Local\Temp\ipykernel_28612\605403803.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_gdp_us['Y-o-Y Change %'] = df_gdp_us['Y-o-Y Change %'].str.replace("%","")
C:\Users\rapha\AppData\Local\Temp\ipykernel_28612\605403803.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_gdp_us['Simple Growth Rate %'] = df_gdp_us['Simple Growth Rate %'].str.rstrip('%').astype('float') / 100.0
C:\Users\rapha\AppData\Local\Temp\ipykernel_28612\605403803.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_gdp_us['Annual % Rate'] = df_gdp_us['Annual % Rate'].str.rstrip('%').astype('float') / 100.0
C:\Users\rapha\AppData\Local\Temp\ipykernel_28612\605403803.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_gdp_us['Y-o-Y Change %'] = df_gdp_us['Y-o-Y Change %'].str.rstrip('%').astype('float') / 100.0
C:\Users\rapha\AppData\Local\Temp\ipykernel_28612\605403803.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_gdp_us['Value'] = df_gdp_us['Value'].astype(str).astype(int)
C:\Users\rapha\AppData\Local\Temp\ipykernel_28612\605403803.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_gdp_us.drop(['Type'], axis = 1, inplace = True)

5,Period,Value,Simple Growth Rate %,Y-o-Y Change %,Annual % Rate
0,2022-09-30 00:00:00,20021700,0.0064,0.0177,0.0257
1,2022-06-30 00:00:00,19895271,-0.0014,0.0180,-0.0058
2,2022-03-31 00:00:00,19924100,-0.0041,0.0368,-0.0163
3,2021-12-31 00:00:00,20006181,0.0170,0.0572,0.0696
4,2021-09-30 00:00:00,19672600,0.0066,0.0496,0.0265
...,...,...,...,...,...
298,1948-03-31 00:00:00,2087442,0.0150,0.0260,0.0615
299,1947-12-31 00:00:00,2056508,0.0156,0.0000,0.0641
300,1947-09-30 00:00:00,2024834,-0.0021,0.0000,-0.0082
301,1947-06-30 00:00:00,2029024,-0.0027,0.0000,-0.0106
302,1947-03-31 00:00:00,2034450,0.0000,0.0000,0.0000

In [5]:
df_gdp_us.dtypes

5
Period                   object
Value                     int32
Simple Growth Rate %    float64
Y-o-Y Change %          float64
Annual % Rate           float64
dtype: object

In [6]:
df_gdp_us['Period'] = df_gdp_us['Period'].astype(str)

C:\Users\rapha\AppData\Local\Temp\ipykernel_28612\1296662632.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_gdp_us['Period'] = df_gdp_us['Period'].astype(str)

In [7]:
df_gdp_us['Date'] = df_gdp_us['Period'].str.split(" ")
df_gdp_us

C:\Users\rapha\AppData\Local\Temp\ipykernel_28612\2695635703.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_gdp_us['Date'] = df_gdp_us['Period'].str.split(" ")

5,Period,Value,Simple Growth Rate %,Y-o-Y Change %,Annual % Rate,Date
0,2022-09-30 00:00:00,20021700,0.0064,0.0177,0.0257,"[2022-09-30, 00:00:00]"
1,2022-06-30 00:00:00,19895271,-0.0014,0.0180,-0.0058,"[2022-06-30, 00:00:00]"
2,2022-03-31 00:00:00,19924100,-0.0041,0.0368,-0.0163,"[2022-03-31, 00:00:00]"
3,2021-12-31 00:00:00,20006181,0.0170,0.0572,0.0696,"[2021-12-31, 00:00:00]"
4,2021-09-30 00:00:00,19672600,0.0066,0.0496,0.0265,"[2021-09-30, 00:00:00]"
...,...,...,...,...,...,...
298,1948-03-31 00:00:00,2087442,0.0150,0.0260,0.0615,"[1948-03-31, 00:00:00]"
299,1947-12-31 00:00:00,2056508,0.0156,0.0000,0.0641,"[1947-12-31, 00:00:00]"
300,1947-09-30 00:00:00,2024834,-0.0021,0.0000,-0.0082,"[1947-09-30, 00:00:00]"
301,1947-06-30 00:00:00,2029024,-0.0027,0.0000,-0.0106,"[1947-06-30, 00:00:00]"
302,1947-03-31 00:00:00,2034450,0.0000,0.0000,0.0000,"[1947-03-31, 00:00:00]"

In [8]:
#df_gdp_us["Period"] = pd.to_datetime(df_gdp_us["Period"])
#df_gdp_us.dtypes

In [9]:
# rename the first column
#df_gdp_us.rename(columns={ df_gdp_us.columns[0]: "index" }, inplace = True)

### US CPI

In [10]:
df_cpi_us = pd.read_excel(r"C:\Users\rapha\OneDrive\ironhack\projects\Project_Final_Ironhack\CPI Y o Y United States of America Monthly Economic Time Series Profile.xls", sheet_name = "Series Values")

In [11]:
df_cpi_us

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN
3,> Series Values,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
1309,1914-03-31 00:00:00,1.02,NM,NM,NM,Actual
1310,1914-02-28 00:00:00,1.02,NM,NM,NM,Actual
1311,1914-01-31 00:00:00,2.04,NM,NM,NM,Actual
1312,NaN,NaN,NaN,NaN,NaN,NaN
1313,Economic Time Series Data Provided By:,NaN,NaN,NaN,NaN,NaN

In [12]:
# Get rid of NaN values 
df_cpi_us.dropna(inplace=True) # get rid of Nan Values 

#Get the first row as a new header
new_header = df_cpi_us.iloc[0] #grab the first row for the header
df_cpi_us = df_cpi_us[1:] #take the data less the header row
df_cpi_us.columns = new_header #set the header row as the df header

# Reset the index 
df_cpi_us.reset_index(drop=True, inplace=True)
df_cpi_us


#delete columns  
df_cpi_us.drop(['Type', 'Simple Growth Rate %', "Y-o-Y Change %", "Annual % Rate"], axis = 1, inplace = True)

C:\Users\rapha\AppData\Local\Temp\ipykernel_28612\854123481.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cpi_us.drop(['Type', 'Simple Growth Rate %', "Y-o-Y Change %", "Annual % Rate"], axis = 1, inplace = True)

In [13]:
df_cpi_us

5                  Period Value
0     2022-10-31 00:00:00  7.75
1     2022-09-30 00:00:00   8.2
2     2022-08-31 00:00:00  8.26
3     2022-07-31 00:00:00  8.52
4     2022-06-30 00:00:00  9.06
...                   ...   ...
1301  1914-05-31 00:00:00  2.06
1302  1914-04-30 00:00:00     0
1303  1914-03-31 00:00:00  1.02
1304  1914-02-28 00:00:00  1.02
1305  1914-01-31 00:00:00  2.04

[1306 rows x 2 columns]

### US Unemployment Rate

In [14]:
df_cpi_us = pd.read_excel(r"C:\Users\rapha\OneDrive\ironhack\projects\Project_Final_Ironhack\Economic Time Series Profile.xls", sheet_name = "Series Values")